@import url("./login/style.css");
*{
    margin:0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


#root{
    position: relative;
}
.desktop{
    display: none;
}
.telaLogin{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background:linear-gradient(180deg, rgba(213, 228, 202, 0.44) 0.63%, rgba(158, 233, 243, 0.94) 18.85%, rgba(224, 201, 244, 0.85) 52.84%, rgba(248, 189, 187, 0.64) 76.67%, #FFD994 100%) no-repeat;
}

.logo{ 
   margin-left: 15%;
   margin-top:10%;
}

.imagem{
    max-width: 262px;
    max-height: 302px;
    width:auto;
    height:auto;
    
}

.inputs{
    color: rgba(0, 0, 0, 0.46);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: none;
    display: flex;
    flex-direction: column;
    width: 100%;

}
.input2{
    align-self: center;
}

.input{
    width:100%;
    background: transparent;
    border:transparent;
    border-bottom: solid rgba(128, 128, 128, 0.297);
}


.btns{
    position: relative;
    margin-top:75px;
    display: flex;
    flex-direction: column;

}
.btn{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    background-color: #B7E8F4;
    height: 50px;
    width: 75%;
    margin-top: 10px;
    border: none;
    align-self: center;
    cursor: pointer;
    font-size: 2vh;
}

.btn:hover{
    background-color: rgb(0, 242, 255);
}


#btn-login-Google{
    margin-top: 5%;
}

.dot{
    align-self:center;
    margin-top:5%;
    opacity:20%;
}

#forgotPassword{
    display: flex;
    justify-content: center;
}

a:hover{
    color: darkblue;
}

.footerInfo{
    background-color:rgb(235, 245, 245);
    height: 100%;
    margin-top:10%
}

@media (min-width:481px) {
    .desktop{
        display:inline;
        border:1px solid black;
        flex-direction: column;
    }
}